#header{
    background-color: #2d1a1a;
    color: white;
}
#header .row {
    margin :0px;
}
/* ---------------------------TOP NAVBAR START--------------------------------- */
#div_2 .navbar {
    padding: 0%;
}
#div_2 .dropdown-menu {
    padding: 5px;
}
#div_2 .dropdown-item {
    color: white;
}
#div_2 .dropdown-item:hover {
    color: #d6c2b5;
    background-color: #6d3c1c;
}
#div_2 .nav-link:hover{
    color: rgb(61, 46, 46);
}
#div_2 .nav-item:hover{
    background-color: darkgrey;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{
        display: block;
    }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; background-color: #553838 ;border: 10px solid #2d1a1a ;border-radius: 0%; }
}
/* ---------------------------TOP NAVBAR END---------------------------- */


/* -------------------------JUMBOTRON START------------------------------ */
#div_3 {
    position: relative;
    text-align: center;
    color: white;
}
#div_3 img {
    height: 25vw;
    width: 100vw;
}
#div_3 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#div_3 .center-bottom {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 50%);
}
#div_3 h1 {
    font-size:3vw;
    color: teal;
    font-weight: 1000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#div_3 p {
    font-size:1.2vw;
}
/* -------------------------JUMBOTRON END------------------------------ */

/* -------------------------DIV-4 START------------------------------ */
#div_4{
    background-color: white;
}
#div_4 h1 {
    margin-left :5%;
    margin-right :5%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;
    color: #da8505;
    font-weight: 1000;
    font-family: cursive;
    font-size: 3vw;
}
#div_4 .row p {
    padding-left: 8%;
    padding-right: 8%;
    font-size: 1.2vw;
}
.card {
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-body {
    height: 20rem;
}
.card-title {
    height: 20%;
}
.card-text {
    height: 60%;
    white-space: wrap;
    overflow: hidden;
}
#div-4-hiding {
    border: 2px solid black;
    margin: 1.5vw;
}

/* -------------------------DIV-4 END------------------------------ */
#div_5{
    background-color: peachpuff;
}
#div_6{
    background-color: maroon;
}
#div_7{
    background-color: white;
}
#div_8{
    background-color: grey;
}
#div_9{
    background-color: goldenrod;
}
#div_10{
    background-color: lightgray;
}
#div_11{
    background-color: white;
}
#div_12{
    background-color: lightgray;
}
#div_13{
    background-color: whitesmoke;
}
#div_14{
    background-color: whitesmoke;
}
#div_15.container {
    background-image: url("img/slider_3.jpg");
}#footer{
    background-color: brown;
}